@{
    ViewBag.Title = "ApiTest";
}

<h2>ApiTest</h2>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSend').click(function () {
                $.post('/api/notification', { userName: $('#txtUserName').val(), message: $('#txtMessage').val() });
            });
        });
    </script>
}
<div>
    <label for="txtUserName">User Name:</label>
    <input id="txtUserName" />
</div>
<div>
    <label for="txtMessage">Message:</label>
    <input id="txtMessage" />
</div>
<input type="button" value="Send" id="btnSend" />