@{
    ViewBag.Title = "Index";
}
@section Scripts {

    @Scripts.Render("~/bundles/signalR")

    <script type="text/javascript">
        $(function () {
            var connection = $.connection('echo');

            connection.received(function (data) {
                $('#messages').append('<li>' + data + '</li>');
            });

            connection.start();
        });
    </script>
}

<h2>Messages</h2>

<ul id="messages"></ul>
