@{
    ViewBag.Title = "Index";
}
@section Scripts {

    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("signalr/hubs")

    <script type="text/javascript">
        $(function () {

            var notificationHub = $.connection.notificationHub;

            notificationHub.notify = function (data) {
                $(data).each(function (index, item) {
                    $('#messages').append('<li>' + item.Message + '</li>');
                    notificationHub.remove(item.Id);
                });
            };

            $.connection.hub.start()
                .done(function () {
                })
                .fail(function () {
                    alert("Could not Connect!");
                });
        });
    </script>
}

<h2>Messages</h2>

<ul id="messages"></ul>
